extends layout
  
block content
    h1#getCustomerName

    #Call Report Form
       form(action='/callreportform', method='post')
           input#inputCustomerName(type='text', placeholder="Customer Name", name="customername")
           input#inputCustomerID(type='text', placeholder="Customer ID", name="customerid")
           br
           input#inputCustomerAddress(type='text', placeholder="Customer Address", name="customeraddress")
           br
           input#inputCustomerPhone(type='text', placeholder='Phone#', name='customerphonenumber')
           input#inputCustomerFax(type='text', placeholder='Fax#', name='customerfaxnumber')
           br
           input#inputCustomerContacts(type='text', placeholder="Contacts", name="customercontacts")
           input#inputCustomerEmail(type='text', placeholder="Email", name="email")
           br
           input#inputDate(type='date', name="date")
           input#inputSalesPerson(type='text', placeholder="Sales Person", name="salesperson")
           br
           textarea#inputCallReportBody(type='text', placeholder="Input Call Status", name="callreport")
           br
           button#btnaddCallReport Add Call Report